*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
p{
    margin-left: auto;
    margin-right: auto;
}
.heart{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation: heart_dance 1s  infinite;
}
#left{
    background:red;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    left: 100px;
    top: 150px;
    border-radius: 50% 0 0 50%;
}
#squre{
    background:red;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    left: 150px;
    top: 200px;
}
#right{
    background:red;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    left: 200px;
    top: 150px;
    border-radius: 50% 50% 0 0;
}
@keyframes heart_dance{
    0%{transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform: scale(1);}
}